<div class="container col-lg-10 ">
    <!-- <div class="text-center mb-5">
        
        <h1 class="text-capitalize font-weight-bold">Jobs for You</h1>
    </div> -->
    <div class="row pt-5 ">
        <div class=" col col-lg-6 mx-3 my-5  bg-light  align-items-center justify-content shadow p-3 mb-5 bg-white rounded">
            <div><i class="fas fa-5x fa-briefcase" aria-hidden="true"></i></div>
            <h5><span class="text-info">JOBS FOR YOU</span></h5>
                <!-- <h1 class="my-2 font-weight-bold">sdfs</h1>  -->
                
                <!-- <div class="row">
                    <div class="col"><p><i class="fas fa-rupee-sign"></i><small>f</small></p></div>
                    <div class="col"><p><i class="fas fa-briefcase" aria-hidden="true"></i><small>f</small></p></div>
                    <div class="col"><p><i class="fas fa-map-marker-alt"></i><small>f</small></p></div>
                </div> -->
            <!-- <div class=" text-uppercase text-secondary"> -->
            <!-- <p class="txt"><i class="fas fa-file-alt" aria-hidden="true"></i><small>f</small></p> -->
            <!-- <small class="d-block">247</small> -->
            <!-- </div> -->
             <div class="text-uppercase text-primary">
                 <a  routerLink="/student/job" class="genric-btn success-border medium">CLICK HERE<span
                    class="lnr lnr-arrow-right"></span></a> 
                    <div style="height: 10px;"></div>
            </div>   
            </div>
            <div class=" col mx-6 my-5 col-lg-4 pl-40 py-3 bg-light  align-items-center justify-content shadow p-3 mb-5 bg-white rounded">
                    <div><i class=" fas fa-5x fa-user-circle"></i></div>
                <h5><span class="text-info">UPDATE YOUR PROFILE HERE</span></h5>
                    <!-- <h1 class="my-2 font-weight-bold">sdfs</h1>  -->
                    
                    <div class="row">
                        <!-- <div class="col"><p><i class="fas fa-rupee-sign"></i><small>f</small></p></div>
                        <div class="col"><p><i class="fas fa-briefcase" aria-hidden="true"></i><small>f</small></p></div>
                        <div class="col"><p><i class="fas fa-map-marker-alt"></i><small>f</small></p></div> -->
                    </div>
                <div class=" text-uppercase text-secondary">
                <!-- <p class="txt"><i class="fas fa-file-alt" aria-hidden="true"></i><small>f</small></p> -->
                <!-- <small class="d-block">247</small> -->
                </div>
                <div class="text-uppercase text-primary">
                 <a  routerLink="/student/profile" class="genric-btn success-border medium">CLICK HERE<span
                        class="lnr lnr-arrow-right"></span></a> 
                        <div style="height: 10px;"></div>
                </div>  
                </div>
    </div>
    

    
        <div class=" col-lg-6 my-5 pl-40 py-3 bg-light  align-items-center justify-content shadow p-3 mb-5 bg-white rounded">
            <div><i class="fas fa-5x fa-history" aria-hidden="true"></i></div>
        <h5><span class="text-info">YOUR JOB HISTORY</span></h5>
            <!-- <h1 class="my-2 font-weight-bold">sdfs</h1>  -->
            
            <!-- <div class="row">
                <div class="col"><p><i class="fas fa-rupee-sign"></i><small>f</small></p></div>
                <div class="col"><p><i class="fas fa-briefcase" aria-hidden="true"></i><small>f</small></p></div>
                <div class="col"><p><i class="fas fa-map-marker-alt"></i><small>f</small></p></div>
            </div> -->
        <!-- <div class=" text-uppercase text-secondary">
        <p class="txt"><i class="fas fa-file-alt" aria-hidden="true"></i><small>f</small></p> -->
        <!-- <small class="d-block">247</small> -->
        <!-- </div> -->
        <div class="text-uppercase text-primary">
             <a  routerLink="/student/history" class="genric-btn success-border medium">VIEW HERE<span
                class="lnr lnr-arrow-right"></span></a> 
                <div style="height: 10px;"></div>
        </div>  
        </div>
    
</div>
