<div class="container">
    <!-- <div class="row"> -->
        <a routerLink="/employer/profile" class="genric-btn primary e-large">Profile</a>
        <a routerLink="/employer/job-post" class="genric-btn primary e-large">Post a job requirement</a>
        <a routerLink="/employer/job-list" class="genric-btn primary e-large">List of job requirements</a>
        <a routerLink="" class="genric-btn primary e-large">Update application status</a>
        <a routerLink="/employer/offer-add" class="genric-btn primary e-large">Add offer details</a>
        <a routerLink="" class="genric-btn primary e-large">Logout</a>
    <!-- </div> -->
</div>